@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
    max-width: 1000px;
    margin: auto;
    font-family: "Open Sans", sans-serif;
}

.container {
    max-width: 1000px;
}

#header1 {
    background-image: url('Imagens/topo-fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;


    font-family: "Open Sans", sans-serif;

    font-style: lighter;
}

#banner-text {
    font-size: 70px;
    color: white;
    justify-content: center;
    align-content: center;
}

.line hr {
    width: 190px;
    border: 1px solid white;
    opacity: 1;
    margin-bottom: 40px;
}

#banner-text2 {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    max-width: 700px;
    margin-bottom: 20px;
}

.button {
    cursor: pointer;
    border: 1px solid white;
    background-color: rgba(222, 227, 231, 0.26);
    height: 50px;
    width: 200px;
    color: white;

}

button.button:hover {
    background-color: rgba(203, 231, 255, 0.432);
}


#subtitle {
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 60px;

    & h4 {
        font-weight: 630;
    }
}



#separador {
    display: flex;
    justify-content: center;
    align-content: center;

}



#icons {
    display: flex;
    margin: auto;
    justify-content: center center;
    align-content: center center;
    max-width: 700px;
    margin-top: 60px;
}

#icontexto {
    color: #32AFDE;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    max-width: 700px;
    margin: auto;
    margin-top: -30px;
}

#header2 {
    background-image: url('Imagens/texto-fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    margin-top: 60px;
    justify-content: end;

    & h5 {
        font-weight: bold;
        justify-content: center;
        margin-top: 14px;
    }

}

#line2 {
    width: 60px;
    border: 0.5px solid rgb(29, 167, 221);
    opacity: 1;
    margin-bottom: 40px;
    justify-content: center;
    margin-left: 120px;
    margin-top: 9px;

}

#info {
    width: 310px;
    height: 360px;
    background-color: rgba(255, 255, 255, 0.87);
    margin-top: 50px;
    margin-right: 100px;

    & #textoinfo {
        max-width: 280px;
        margin-left: 26px;
        margin-top: -30px;

        & p {
            text-align: center;
            font-size: large;
        }

        & span {
            color: #32AFDE;
        }
    }


    & .button {
        cursor: pointer;
        border: #32AFDE;
        background-color: #32AFDE;
        height: 50px;
        width: 200px;
        color: white;
    }

    button.button:hover {
        background-color: rgba(110, 187, 255, 0.781)
    }
}

#portfolio {
    max-width: 620px;
    justify-content: center;

    & #portfoliopic {
        margin-top: 60px;
    }

    & #portfoliopic2 {
        margin-top: 20px;

    }

}

#portfolio img {
    width: auto;
    max-width: none;
    height: auto;
}

#blogheader {
    background-image: url('Imagens/numeros-fundo.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    margin-top: 60px;
    background-color: antiquewhite;


}

#blogcontainer {
    max-width: 660px;

    & .row {

        color: white;
        font-family: "Open Sans", sans-serif;
        font-weight: 300;
    }
}

#blogcontainer .row h1 {
    font-size: 58px;
    font-weight: 640;
}

#blogcontainer .row h2 {
    font-size: 23px;
    font-weight: lighter;

}

#blogcaixa {
    margin-top: 30px;
    max-width: 310px;
    background-color: #ececec;

    & h5 {
        font-weight: 700;
    }

    & .button {
        cursor: pointer;
        border: #32AFDE;
        background-color: #32AFDE;
        height: 50px;
        width: 200px;
        color: white;

    }

    & p {
        text-align: center;

    }

    button.button:hover {
        background-color: rgba(110, 187, 255, 0.781)
    }


    & #latest {
        margin-top: 30px;
    }

    & img {
        margin-top: 10px;
    }
}

#blogcaixa2 {
    margin-left: -150px;
    margin-top: 30px;
    max-width: 310px;
    background-color: #ececec;

    & h5 {
        font-weight: 700;
    }

    & .button {
        cursor: pointer;
        border: #32AFDE;
        background-color: #32AFDE;
        height: 50px;
        width: 200px;
        color: white;
        margin-bottom: 10px;
    }

    & p {
        text-align: center;

    }

    button.button:hover {
        background-color: rgba(110, 187, 255, 0.781)
    }


    & #latest {
        margin-top: 30px;
    }

    & img {
        margin-top: 10px;
    }
}



#basicheader {
    background-image: url('Imagens/precos_fundo.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    margin-top: 60px;
    justify-content: end;

  

    & h5 {
        font-size: 23px;
        font-weight: 500;
        justify-content: center;
        margin-top: 14px;
        color: white;

    }

}

#precocontainer {
    max-width: 800px;
}

#preço {

    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    width: 240px;
    height: 350px;

    & p {
        text-align: center;
        font-size: large;
    }



    button.button:hover {
        background-color: rgba(109, 109, 109, 0.781)
    }

}

#basicbox {
    height: 90px;
    background-color: rgb(132, 132, 141);


}

#basicrow {
    margin-bottom: -10px;
}

#textcontainer {
    margin-top: 50px;
    margin-bottom: 10px;
    color: #999999;

    & span {
        font-weight: 700;
    }
}

#dot35 {
    background-color: #03bcff;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-top: 7px;
}

#dot15 { 
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgb(104, 104, 104);
    margin-top: 7px;
}



#dottext {
    padding: 4px;

    & h5 {
        font-size: 19px;
        font-weight: 500;
        justify-content: center;
        margin-top: 14px;
        color: white;

    }

}

#btn2{
    cursor: pointer;
    border: #32AFDE;
    background-color: rgb(104, 104, 104);
    height: 45px;
    width: 125px;
    color: white;
    font-size: 15px;

}

#btn3{
    background-color: #32AFDE;
    cursor: pointer;
    border: #32AFDE;
    height: 45px;
    width: 125px;
    color: white;
    font-size: 15px;
}

footer {
    background-color: #32AFDE;
    padding-top: 1rem;
    padding-bottom: 1rem;

    & p{
        color: white;
    }
}

.social-links a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px; 
    border: 2px solid white;
    border-radius: 0; 
    color: white;
    margin: 5px; 
    text-decoration: none;
    margin-bottom: 23px;
}

.social-links a:hover {
    background-color: rgba(245, 245, 245, 0.306); 
}

.social-links a .bi {
    font-size: 17px; 
}
